.button {
  background: var(--color-btn);
  color: var(--color-dark);
  outline: 3px solid var(--color-dark);
  border-radius: 1px;
  line-height: 2rem;
  height: 2rem;
  width: 8rem;
  margin: 1rem;
  font-weight: 600;
  box-shadow: inset;
  border-collapse: collapse;
  font-size: 1rem;
}

.button:hover {
  scale: 1.1;
}
