#root {
  height: 100%;
  width: 100%;
}

label {
  appearance: none;
  text-align: start;
  font-weight: 800;
  color: var(--color-white);
  font-size: 1.2rem;
  border: 1px solid #000;
  margin: 1rem 0;
}
