:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-light: rgb(235, 229, 229);
  --color-dark: rgb(253, 14, 14);
  --color-btn: rgb(201, 201, 201);
  --color-formElemnt: rgb(255, 255, 255);
  background: var(--color-light);
}
* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
  border: none;
}

button {
  cursor: pointer;
}

select {
  cursor: pointer;
  border: none;
}
