:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-light: rgb(240, 215, 194);
  --color-dark: rgb(117, 59, 34);
  --color-btn: rgb(206, 119, 61);
  --color-formElemnt: rgb(243, 229, 220);
  background: var(--color-light);
}
* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
  border: none;
}

button {
  cursor: pointer;
}

select {
  cursor: pointer;
  border: none;
}
